/* 
Index HTML Styling Section
*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

#home-header {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #292929, #3b3b3b);
    padding: 1rem;
    flex-wrap: wrap;
}

#home-logo {
    width: 18rem;
    max-width: 100%;
    margin: 0;
}

#home-navigation {
    display: flex;
    justify-content:center;
    gap: 16rem;
    flex-wrap: wrap;
    padding: 6 0rem;
}

.home-navlinks {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    border-top: 2px solid transparent;
}

.home-navlinks:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

.home-navlinks:hover::after {
    width: 100%;
}

#footer {
    background: linear-gradient(to right, #292929, #3b3b3b);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    
}



/* 
About HTML Styling Section
*/
/* 
Jobs HTML Styling Page
*/

/* 
Apply HTML Styling Page
*/