/* 
Index HTML Styling Section
*/

body.home {
    margin: 0;
    padding: 0;
}

#home-logo {
    width: 15%;
}

#home-header {
    background: linear-gradient(to right, #292929, #3b3b3b);
    width: 100%;
    height: 10%;
    margin: 0;
    padding: 0;
}


/* 
About HTML Styling Section
*/
/* 
Jobs HTML Styling Page
*/

/* 
Apply HTML Styling Page
*/