/* 
Index HTML Styling Section
*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    color: white;
}

main {
    flex: 1;
}

header {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #292929, #3b3b3b);
    padding: 1rem;
    flex-wrap: wrap;
}

#home-logo {
    width: 18rem;
    max-width: 100%;
    margin: 0;
    padding-right: 2rem;
}

#home-navigation {
    display: flex;
    justify-content:center;
    gap: 16rem;
    flex-wrap: wrap;
    padding: 6 0rem;
}

.home-navlinks {
    position: relative;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1rem;
    border-top: 2px solid transparent;
    color: white;
}

.home-navlinks:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

.home-navlinks:hover::after {
    width: 100%;
}

footer {
    background: linear-gradient(to right, #292929, #3b3b3b);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding: 3rem;
    border-top: 2px white solid;

}

main {
    background: linear-gradient(to right, #292929, #3b3b3b);
}

#footer-items {
    text-decoration: none;
    color: white;
}


/* 
About HTML Styling Section
*/
/* 
Jobs HTML Styling Page
*/
h1, h2, h3 {
    font-weight: 600;
    margin-bottom: 1rem;
}
/* 
Apply HTML Styling Page
*/

#apply-title {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    margin: 2rem auto;
    background-color : #1e1e1e;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
}

#form, section {
    padding: 2rem;
    max-width: 900px;
    margin: 0 auto;
}

form {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #1e1e1e;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
fieldset {
    border: 1px solid #555;
    padding: 1.5rem;
    margin-bottom: 3rem;
    border-radius: 8px;
    background-color: #1c1c1c1c;
    border-left: 4px solid #ff6600;
}

legend {
    font-size: 1.4rem;
    font-weight: 600;
    color: #ff6600;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
}

input[type="text"], input[type="email"], input[type="number"], textarea {
    width: 98%;
    padding: 0.8rem;
    margin-top: 0.5rem;
    border: 1px solid #888;
    border-radius: 4px;
    background-color: #2a2a2a;
    color: white;
}




input[type="submit"], input[type="reset"]{
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 4px;
    cursor: pointer;
}

input:focus, textarea:focus {
    outline: 2px solid #ff6600;
    background-color: #333
}

input, select, textarea, button {
    transition: all 0.2s ease-in-out;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
    background-color: #1e1e1e;
    color: white;
    font-family: 'Poppins', sans-serif;
}

fieldset[disabled] {
    opacity: 0.4;
    pointer-events: none;
    filter: grayscale(100%)
}

form fieldset {
    margin-top: 0;
    padding-top: 0;
}

/* Mobile and Tablet Responsivness */
@media (max-width: 768px) {
    #home-navigation {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    form, section {
        padding: 1rem;
    }
    input[type="submit"], input[type="reset"] {
        width: 100%;
    }
}